{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
    <title>Корзина</title>
{% endblock %}
{% block style %}
    {{ block.super }}
    <link type="text/css" href="{% static 'basket/basket.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <!--                ******************************************* КОРЗИНА-->
    <div class="title">
        {% trans 'Корзина' %}
    </div>
    <div class="basket-products" id="ItemList">
        {% include "include/cart-item.html" with cart=cart %}
    </div>


    <div class="ordering-block">
        <div class="ordering-block-text">
            {% trans 'Сумма к оплате' %}:
        </div>
        <div class="ordering-block-prise" id="CartTotal">
            {{ cart.total }} ₽
        </div>
        <a href="{% url 'order:order' %}">
            <button type="submit" class="ordering-block-button">{% trans 'Оформить заказ' %}</button>
        </a>
        <a href="/#products" class="ordering-block-link">{% trans 'Вернуться к покупкам' %}</a>

    </div>

{% endblock %}
{% block scripts %}
{{ block.super }}
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}









