{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
    <title>Корзина</title>
{% endblock %}
{% block style %}
    {{ block.super }}
    <link type="text/css" href="{% static 'basket/basket.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <!--                ******************************************* КОРЗИНА-->
    <div class="title">
        {% trans 'Корзина' %}
    </div>
    <div class="basket-products">
        <div class="basket-product">
            <img class="basket-photo" src="static/product/image%209.jpg">
            <div class="basket-text">
                <div class="basket-title">Лопата штыковая Fiskars SolidTM 116 см сталь с черенком</div>
                <div class="basket-article">Арт. 81955972</div>
            </div>
            <div class="basket-count">
                <img src="static/basket/minus.svg" alt="minus">
                <p class="basket-title">2</p>
                <img src="static/basket/plus.svg" alt="plus">
            </div>
            <div class="basket-prise">
                <p>2 012 ₽</p>
            </div>
        </div>

        <div class="basket-product">
            <img class="basket-photo" src="static/product/image%209.jpg">
            <div class="basket-text">
                <div class="basket-title">Лопата штыковая Fiskars SolidTM 116 см сталь с черенком</div>
                <div class="basket-article">Арт. 81955972</div>
            </div>
            <div class="basket-count">
                <img src="static/basket/minus.svg" alt="minus">
                <p class="basket-title">2</p>
                <img src="static/basket/plus.svg" alt="plus">
            </div>
            <div class="basket-prise">
                <p>2 012 ₽</p>
            </div>
        </div>
    </div>


    <div class="ordering-block">
        <div class="ordering-block-text">
            {% trans 'Сумма к оплате' %}:
        </div>
        <div class="ordering-block-prise">
            3 128 ₽
        </div>
        <button type="submit" class="ordering-block-button">{% trans 'Оформить заказ' %}</button>
        <a href="" class="ordering-block-link">{% trans 'Вернуться к покупкам' %}</a>

    </div>

{% endblock %}









