{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
    <title>Патенты и лицензии</title>
{% endblock %}
{% block style %}
    {{ block.super }}
    <link type="text/css" href="{% static 'certificate/certificate.css' %}" rel="stylesheet">
{% endblock %}
<!--                *******************************************  -->
{% block content %}
<div class="title">
    {% trans 'Патенты и лицензии' %}
</div>

<div class="certificates">
    {% for item in license %}
    <div class="certificate">
        <p class="certificate-title">
            {{ item.title }}
        </p>
        <img class="certificate-img" src="{{ item.image.url }}" alt="certificate">
    </div>
    {% endfor %}
</div>

{% endblock %}





{% block script %}
    {{ block.super }}
    <script src="{% static 'certificate/certificate.js' %}"></script>
{% endblock %}
