{% extends 'base.html' %}
{% load static i18n %}
{% block title %}<title>Новости</title>{% endblock %}
{% block style %}
    {{ block.super }}
    <link type="text/css" href="{% static 'news/news.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!--                *******************************************  -->
    <div class="title">
        {% trans 'Новости' %}
    </div>

    <div class="block-all-news">
        <div class="block-news">
            <img class="news-img" src="static/news/news1.png" alt="news">
            <div class="block-news-date">
                <p>10.09.2021</p>
            </div>
            <a href="" class="block-news-title">Поставка новой партии уже на этих выходных</a>
        </div>


    </div>


    {% include 'include/pagination.html' %}
{% endblock %}

