{% extends 'base.html' %}
{% load static i18n %}
{% block title %}<title>Новости</title>{% endblock %}
{% block style %}
    {{ block.super }}
    <link type="text/css" href="{% static 'news/news.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!--                *******************************************  -->
    <div class="title">
        {% trans 'Новости' %}
    </div>

    <div class="block-all-news">
    {% for item in news %}
        <div class="block-news">
        {% if item.image %}
            <img class="news-img" src="{{ item.image.url }}" alt="news">
            {% endif %}
            <div class="block-news-date">
                <p>{{ item.date }}</p>
            </div>
            <a href="{% url 'section:news_detail' item.slug %}" class="block-news-title">{{ item.title }}</a>
        </div>

{% endfor %}
    </div>


    {% include 'include/pagination.html' with items=news %}
{% endblock %}

