{% extends 'base.html' %}
{% load static i18n %}
{% block style %}
    {{ block.super }}
  <link type="text/css" href = "{% static 'one-news/one-news.css' %}" rel = "stylesheet">
{% endblock %}
{% block content %}
    <div class="content" >
      <!--                *******************************************  -->

      <div class="news-bread-crumbs">
        <a href="" class="news-bread-crumb-link">
          Назад
        </a>
      </div>

      <div class="title">
        Временное закрытие!
      </div>

      <div class="one-news-date">
        <p>
          10.09.2021
        </p>
      </div>

      <div class="new-text">
        <img class="one-news-img" src="static/one-news/one-news.png" alt="news-photo">
        <p>
          На фоне эпидемиологической обстановки магазин вынужден закрыться на период с 28.03.2020 до 30.04.2020.
        </p>
      </div>





      </div>

