{% extends 'base.html' %}
{% load static i18n %}


{% block title %} <title>{{ news.title }}</title> {% endblock %}
{% block style %}
    {{ block.super }}
  <link type="text/css" href = "{% static 'one-news/one-news.css' %}" rel = "stylesheet">
{% endblock %}
{% block content %}
      <!--                *******************************************  -->

      <div class="news-bread-crumbs">
        <a href="{% url 'section:news' %}" class="news-bread-crumb-link">
          Назад
        </a>
      </div>

      <div class="title">
        {{ news.title }}
      </div>

      <div class="one-news-date">
        <p>
          {{ news.date }}
        </p>
      </div>

      <div class="new-text">
      {% if news.image %}
        <img class="one-news-img" src="{{ news.image.url }}" alt="news-photo">
          {% endif %}
        <p>
            {{ news.text|safe}}
        </p>
      </div>






{% endblock %}