{% extends 'base.html' %}
{% load static i18n %}

{% block style %}
    {{ block.super }}
    <link type="text/css" href="{% static 'regist-order/regist-order.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <!--                *******************************************  ОФОРМЛЕНИЕ ЗАКАЗА-->
    <div class="title">
        {% trans 'Оформление заказа' %}
    </div>

    <div class="order-block">

        <p>{% trans 'Ваш заказ' %}:</p>

        <div class="order-block-products">
            {% for item in cart.cart_item.all %}
            <div class="order-block-product">
                <img class="order-block-photo" src="{{ item.product.image.url }}">
                <div class="order-block-text">
                    <div class="order-block-title">{{ item.product.title }}</div>
                    <div class="order-block-article">{{ item.product.article }}</div>
                </div>
                <p class="order-block-title">x{{ item.quantity }}</p>
                <p class="order-block-prise">{{ item.total }} ₽</p>
            </div>
            {% endfor %}
        </div>


        <div class="final-prise">
            <div>
                <p>{% trans 'Итого' %}:</p>
            </div>
            <div>
                <p>{{ cart.total }} ₽</p>
            </div>
        </div>

    </div>

    <div class="order-text">
        <p>
            {% trans 'Оставьте заявку и мы свяжемся с Вами в ближайшее время для подтверждения и оплаты заказа' %}
        </p>
    </div>
    <form id="form" action="{% url 'order:confirm_order' %}" enctype="multipart/form-data" method="post" class="order-form">
    {% csrf_token %}
        <input type="text" name="name" placeholder="{% trans 'Имя' %}" class="form_name _req" required>

        <input type="text" name="surname" placeholder="{% trans 'Фамилия' %}" class="form_surname _req" required>

        <input type="tel" name="phone" id="phone" placeholder="{% trans 'Телефон' %}" class="form_phone _req _tel"
               pattern="\+7\-[0-9]{3}\-[0-9]{3}\-[0-9]{2}\-[0-9]{2}" required>

        <input type="email" name="email" placeholder="{% trans 'Электронная почта' %}" class="form_email _req _email" required>

        <button class="orderButton" type="submit">{% trans 'Оформить заказ' %}</button>
    </form>

{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="https://unpkg.com/imask"></script>
    <script>
        var element = document.getElementById('phone');
        var maskOptions = {
            mask: '+{7} (000) 000-00-00'
        };
        var mask = IMask(element, maskOptions);
    </script>

    <script src="{% static 'regist-order/validation-order-form.js' %}"></script>
    <script src="{% static 'js/order.js' %}"></script>
{% endblock %}