{% extends 'base.html' %}
{% load static i18n %}
    {% block title %}<title>Вход</title>{% endblock %}
{% block style %}
{{ block.super }}
    <link type="text/css" href = "{% static 'auth/auth.css' %}" rel = "stylesheet">
{% endblock %}

        {% block content %}
            <!--                *******************************************  ОФОРМЛЕНИЕ ЗАКАЗА-->
            <div class="title">
                {% trans 'Вход' %}
            </div>

            <form id="authForm" action="#" enctype="multipart/form-data" method="post" class="auth-order-form">
                <input type="email" name="email"  placeholder="Электронная почта" class="auth-form_email _req _email">
                <input type="password" name="password1"  placeholder="Пароль" class="password _req">
                <button id="auth-Button" class="auth-orderButton" type="submit">{% trans 'Вход' %}</button>
            </form>

  {% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static 'auth/auth.js' %}"></script>
{% endblock %}