{% extends 'base.html' %}
{% load i18n static %}

{% block title %} <title>Регистрация</title> {% endblock %}
{% block style %}
    {{ block.super }}
    <link type="text/css" href="{% static 'reg/reg.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!--                *******************************************  ОФОРМЛЕНИЕ ЗАКАЗА-->
    <div class="title">
        {% trans 'Регистрация' %}
    </div>

    <form id="regForm" action="#" enctype="multipart/form-data" method="post" class="reg-order-form">
    {% csrf_token %}
        {{ form.username }}
        {{ form.password }}
        {{ form.password2 }}

        <button id="reg-Button" class="reg-orderButton" type="submit">Зарегистрироваться</button>
    </form>


{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="https://unpkg.com/imask"></script>
    <script>
        var element = document.getElementById('reg-phone');
        var maskOptions = {
            mask: '+{7} (000) 000-00-00'
        };
        var mask = IMask(element, maskOptions);
    </script>

    <script src="static/reg/reg.js"></script>
{% endblock %}