{% load static  i18n %}
<div class="title">
    {% trans 'Список товаров' %}
</div>
<div class="one-product-desc numb-products">
    {% trans 'Найдено' %} {{ count }} {% trans 'товаров' %}:
</div>
<div class="products-list">


    {% for product in product_list %}
        <a href="{% url 'catalog:product' product.id %}" class="one-product">
        <img class="one-product-img" src="{{ product.image.url }}" alt="product">
        <p class="one-product-art">{{ product.article }}</p>
        <p class="one-product-desc">{{ product.title }}
        </p>
        <div class="more">
            <p class="one-product-art">Подробнее</p>
            <img class="moreArrow" src="{% static 'arrowPodrobnee.svg' %}" alt="more">
        </div>
        </a>
    {% endfor %}
</div>

{% include 'include/pagination.html' with items=product_list anchor="#products" %}