{% load static  i18n %}
<div class="title">
    {% trans 'Список товаров' %}
</div>
<div class="one-product-desc numb-products">
    {% trans 'Найдено' %} 5 {% trans 'товаров' %}:
</div>
<div class="products-list">
    <div class="one-product">
        <img class="one-product-img" src="{% static 'shovel-sample.svg' %}" alt="product">
        <p class="one-product-art">Арт. 81955972</p>
        <p class="one-product-desc">Лопата для земляных работ Fiskars SolidTM, 120 см сталь, с черенком
        </p>
        <p class="one-product-price">816 ₽/шт </p>
    </div>

</div>

{% include 'include/pagination.html' %}