{% load i18n static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    {% block title %}
        <title>Садовый интсрумент</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}
        <link type="text/css" href="{% static 'index.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
<div class="wrapper">
    <!--    *******************************************HEADER-->
    <header>
        <div class="header_elements">
            <div class="header_elements-left">
                <div class="logo">
                    <a class="link__logo-img" href="/">
                        <img class="logo-img" src="{% static 'logo.svg' %}" alt="logo">
                    </a>
                    <a class="link__logo-name" href="/">
                        {% trans 'Садовый инструмент' %}
                    </a>
                </div>


                {#                <div class="translation">#}
                {##}
                {#                    <div class="select is-active">#}
                {#                    <div class="translation-language">ru</div>#}


                {#                        <img class="select-header" src="static/Vector.svg" alt="arrow">#}
                {#                        <div class="select-body">#}
                {#                            <div class="select-body-style">#}
                {#                                <div class="select-item">ru</div>#}
                {#                                <div class="select-item">en</div>#}
                {#                                <div class="select-item">de</div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {##}
                {#                </div>#}
                <div class="translation">
                    <div class="translation-language">{{ request.LANGUAGE_CODE }}</div>
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}">
                            <select class="custom-select" name="language" style="display: none;">
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                        selected{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            </select>
                            <button type="submit" class="buttonLenguage">
                                {{ language.code }}
                            </button>
                        </form>
                    {% endfor %}
                </div>
            </div>

            <div class="header_elements-right">
                {% if request.user.is_authenticated %}
                    <a class="basket" href="">
                        <img class="basket-img" src="{% static 'shopping-cart.svg' %}" alt="shopping-cart">
                        <div class="basket-text">{% trans 'Корзина' %}</div>
                    </a>
                    <a class="basket" href="{% url 'logout' %}">
                        {% trans 'Выйти' %}
                    </a>
                {% else %}
                    <!--                <div class="login-reg-block">-->
                    <a class="basket" href="">
                        {% trans 'Зарегистрироваться' %}
                    </a>
                    <a class="basket" href="">
                        {% trans 'Войти' %}
                    </a>
                    <!--                </div>-->
                {% endif %}
            </div>


        </div>
    </header>


    <div class="main">
        <!--    *******************************************SIDEBAR-->
        <div class="aside">
            <div id="aside-block">

                <div class="asideElement">
                    <div class="catalog">
                        <a href="" class="aside-link">
                            {% trans 'Каталог' %}
                        </a>
                        <img class="catalog-header" src="{% static 'Vector.svg' %}" alt="arrow"
                             onclick="catalogSelect()">
                    </div>
                    <div class="catalog-items">
                        <a class="catalog-item" href="">— Лопаты</a>
                        <a class="catalog-item" href="">— Грабли</a>
                        <a class="catalog-item" href="">— Вилы</a>
                        <a class="catalog-item" href="">— Для пчеловодства</a>
                    </div>
                </div>

                <div class="asideElement">
                    <a href="" class="aside-link">
                        {% trans 'Патенты и лицензии' %}
                    </a>
                </div>

                <div class="asideElement">
                    <a href="" class="aside-link">
                        {% trans 'Новости' %}
                    </a>
                </div>
                <div class="asideElement">
                    <a href="" class="aside-link">
                        {% trans 'Контакты' %}
                    </a>
                </div>

            </div>
        </div>


        <!--    *******************************************CONTENT-->

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="clear"></div>
    </div>


    <!--    *******************************************FOOTER-->
    <footer>
        <div class="footer-elements">

            <div class="footerElement1">

                <div class="footerElement1_1">
                    <div class="social_networks">
                        <p>{% trans 'Мы в соцсетях' %}:</p>
                        <div class="social-net-Items">
                            <a class="social-net-Item" href="">
                                <img class="social-net-img" src="{% static 'vk.svg' %}" alt="vk">
                            </a>
                            <a class="social-net-Item" href="">
                                <img class="social-net-img" src="{% static 'ok.svg' %}" alt="ok">
                            </a>
                            <a class="social-net-Item" href="">
                                <img class="social-net-img" src="{% static 'fb.svg' %}" alt="fb">
                            </a>
                            <a class="social-net-Item" href="">
                                <img class="social-net-img" src="{% static 'inst.svg' %}" alt="inst">
                            </a>
                        </div>
                    </div>

                    <div class="linkBlock1">
                        <a href="" class="footer_link2">{% trans 'НОВОСТИ' %}</a>
                    </div>
                </div>

                <div class="followBlock">
                    <p>{% trans 'Подписаться на новости' %}</p>
                    <div class="newsFollow">
                        <input type="email" id="followEmail" name="Follow" placeholder="Введите ваш e-mail">
                        <button type="submit" id="followButton">{% trans 'Подписаться' %}
                        </button>
                    </div>
                </div>
            </div>


            <div class="footerElement2">
                <div class="footer_catalog">
                    <a href="" class="footer_link3">
                        {% trans 'КАТАЛОГ' %}
                    </a>
                    <div class="light_catalog-elements">
                        <a href="" class="footer_catalog-element">— Лопаты</a>
                        <a href="" class="footer_catalog-element">— Вилы</a>
                        <a href="" class="footer_catalog-element">— Грабли</a>
                        <a href="" class="footer_catalog-element">— Для пчеловодства</a>
                    </div>
                </div>
            </div>

            <div class="footerElement3">
                <div class="footer_contacts">
                    <a href="" class="footer_link4">{% trans 'Контакты' %}</a>
                </div>
                <div class="footer_contact-elements">
                    <div class="contact_element">
                        <p class="light_catalog-elements">
                            {% trans 'Телефон в Пскове' %}:
                        </p>
                        <a href="tel:+78001205840">
                            +7 800 120-58-40
                        </a>
                    </div>
                    <div class="contact_element">
                        <p class="light_catalog-elements">
                            {% trans 'Электронная почта' %}:
                        </p>
                        <a href="mailto:selhozinstrument@mail.ru">
                            selhozinstrument@mail.ru
                        </a>
                    </div>
                    <div class="contact_element">
                        <p class="light_catalog-elements">
                            {% trans 'Адрес' %}:
                        </p>
                        <p>
                            Г. Псков, пл. Ленина, 94
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</div>
{% block script %}
    <script src="{% static 'index.js' %}"></script>
{% endblock %}
</body>
</html>
